@import url("./lu.1.jpeg");

* {
  box-sizing: border-box;
}
.loading {
  height: 50%;
  width: 50%;
}

body {
  background-image: url("lovelove.jpg");
  background-repeat: no-repeat;
  background-size: 70% 100%;
  background-position: center center;
  background-color: whitesmoke;
  width: 100%;
  height: 100vh;
  color: #ffe4e1;
  font-family: 'Roboto', sans-serif; /* Aplique a fonte desejada */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0;
  overflow: hidden;
}
h1 .highlight {
    color: #e6398f; /* rosa escuro para destacar o "amor" */
  }

/* Add a dark overlay */
body::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 10%;
  height: 10%;
}

body * {
  z-index: 1;
}

h1 {
  font-size: 30px;
  margin: -10px 0 40px;
}

.year {
  font-size: 200px;
  z-index: -1;
  opacity: 0.2;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.countdown {
  display: none;
  transform: scale(2);
}

.time {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 15px;
}

.time h2 {
  margin: 0 0 5px;
}

@media (max-width: 500px) {
  h1 {
    font-size: 45px;
  }

  .time {
    margin: 5px;
  }

  .time h2 {
    font-size: 12px;
    margin: 0;
  }

  .time small {
    font-size: 10px;
  }
}
.hearts {
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    overflow: hidden;
  }
  
  .heart {
    position: absolute;
    top: -10px;
    width: 20px;
    height: 20px;
    background-color: red;
    transform: rotate(45deg);
    animation: fall 5s linear infinite;
  }
  
  .heart::before,
  .heart::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: inherit;
    border-radius: 50%;
  }
  
  .heart::before {
    top: -10px;
    left: 0;
  }
  
  .heart::after {
    top: 0;
    left: -10px;
  }
  
  @keyframes fall {
    0% {
      transform: translateY(0) rotate(45deg);
      opacity: 1;
    }
    100% {
      transform: translateY(100vh) rotate(45deg);
      opacity: 0;
    }
  }  